.page-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;

    .page-item {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70px;
        height: 70px;
        font-size: 12px;
        box-sizing: border-box;
        text-align: center;
        text-transform: capitalize;
        color: var(white);
        border-radius: 8px;
        border: 2px solid transparent;

        &.active {
            color: var(--active-color);
            border-color: #38D9A9;
        }

        i {
            position: relative;
            overflow: hidden;
            display: inline-block;
            background-color: transparent;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            background-size: cover;
        }

        span {
            color: var(--text-gray);
        }
    }
}

.page-container {
    margin-top: 24px;
}

.main-world {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-world-page,
.main-world-canvas {
    flex: 1;
}