.ant-modal-header {
    .miner-list-modal-title {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }
}

.ant-table-wrapper .ant-pagination li.ant-pagination-item {

    & * {
        color: white;
    }

    &.ant-pagination-item-active * {

        color: #000;
    }
}