.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {

    background-image: url("/public/icons/loader.svg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    width: 24px;
    height: 24px;
    animation: infinite rotate 1.5s linear reverse;
    position: absolute;
}


@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}