.add {
    background-repeat: no-repeat;
    background-image: url("/public/icons/add-icon.svg");
    background-size: contain;
    display: inline-block;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
}

.action-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}