#root {
  padding: 2rem;
  align-self: start;
  background-color: var(--bg-dark);
  width: 100vw;
  height: 100vh;
  user-select: text;

}

.primary-text {
  color: white;
}

.text-center {
  text-align: center;
}